﻿@model FirstApp.Models.Stage

@{
    ViewData["Title"] = "EditStage";
}

<h2>EditStage</h2>

<h4>Stage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StageId" />
            <div class="form-group">
                <label asp-for="StageName" class="control-label"></label>
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageGoal" class="control-label"></label>
                <input asp-for="StageGoal" class="form-control" />
                <span asp-validation-for="StageGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StagesManagement">Back to List</a>
</div>

