﻿@model IEnumerable<FirstApp.Models.Stage>

@{
    ViewData["Title"] = "StagesManagement";
}

<div class="container admin-page">
<h2>StagesManagement</h2>

<p>
    <a asp-action="AddStage" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StageGoal)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageGoal)
            </td>
            <td>
                <a asp-action="EditStage" asp-route-id="@item.StageId" class="btn btn-primary">Edit</a>
                <a asp-action="StageDetails" asp-route-id="@item.StageId" class="btn btn-info">Details</a>
                <form asp-action="DeleteStage" asp-route-id="@item.StageId">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
</div>