﻿@model FirstApp.Models.Stage

@{
    ViewData["Title"] = "StageDetails";
}

<h2>StageDetails</h2>

<div>
    <h4>Stage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StageGoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StageGoal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditStage" asp-route-id="@Model.StageId">Edit</a> |
    <a asp-action="StagesManagement">Back to List</a>
</div>
