﻿@model Stage
@{
    ViewData["Title"] = "StageSummary";
}

<div class="container admin-page">
<h2>StageSummary</h2>

<h3>@Model.StageName</h3>
<h3>@Model.StageGoal</h3>
@foreach(Event ev in @Model.Events)
    {
        <div class="thumbnail">
            <h3 class="pull-right">@ev.MountainHeight</h3>
            <h3>
                <a>@ev.EventName</a>
            </h3>
            <a asp-controller="Event" asp-action="Details" asp-route-id="@ev.EventId">@ev.MountainName</a>
            <p>@ev.ShortDescription</p>
        </div>
    }

</div>