﻿@model FirstApp.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "EditRole";
}

<h2>EditRole</h2>

<h4>EditRoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Users.Count == 0)
{
    <h3>There are no users with this role</h3>
}
else
{
    <h3>List of users with this role:</h3>
}

<ul>
    @foreach (var user in Model.Users)
    {
        <li>@user.UserName</li>
    }
</ul>

<div>
    <a asp-action="RoleManagement" class="btn btn-outline-info">Back to List</a>
</div>

