﻿
@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

<div class="container admin-page">
    <h2>Zarządzaj rolami</h2>
    <p>
        <a class="btn btn-primary" asp-action="AddRole">Dodaj nową role</a>
    </p>

    @if (!Model.Any())
    {
        <tr><td class="text-center table-bordered">Nie znaleziono żadnej roli</td></tr>
    }
    else
    {
        <table class="table table-striped table-hover" header-content="Zarządzaj rolami">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>Actions</th>
            </tr>
            @foreach (IdentityRole role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <form asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                            <button type="submit" onclick="return confirm('Are you sure you want to delete this role?');" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id">Edytuj</a>
                    </td>
                </tr>
            }

        </table>
    }
</div>
