﻿@model AddRoleToUserViewModel

<h2>Set user role</h2>

<form asp-controller="Admin" asp-action="SetUserRole" method="post">
    <input type="hidden" asp-for="UserId"/>
    <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))">
        <option>Please select a role</option>
    </select>
    <input value="Set role" type="submit" class="btn btn-primary"/>
</form>

