﻿@using Microsoft.AspNetCore.Identity

@model IEnumerable<FirstApp.Auth.ApplicationUser>

<div class="container admin-page">
    <h2>Zarządzaj użytkownikami</h2>
    <p>
        <a class="btn btn-primary" asp-action="AddUser">Dodaj nowego użytkownika</a>
    </p>

@if (!Model.Any())
{
    <tr><td class="text-center">Nie znaleziono użytkowników</td></tr>
}
else
{
    <table class="table table-striped table-hover" header-content="Zarządzaj użytkownikami">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Actions</th>
        </tr>
        @foreach(IdentityUser user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">

                    <button type="submit" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-danger">Usuń</button>
                </form>
                <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id">Edytuj</a>
            </td>
        </tr>
    }

    </table>
}
</div>