﻿

img .eventImg{
    max-width: 150px;
}

.textBackground {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 15px;
}

.admin-page {
    margin-top: 110px;
}

.portal-page {
    position: relative;
    top: 100px;
    padding-bottom: 100px;
}

.view {
    background-image: url(/Images/clouds-hd-wallpaper-landscape-68695.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-header h1 {
    font-size: 52px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.parallax {
    /* The image used */
    background-image: url(/Images/austria-dawn-desktop-backgrounds-1323550.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-white {
    border: 2px solid white;
    border-radius: 25px;
}

.disable-margin {
    margin: 0 0 0 0;
}

.margin5 {
    margin: 5px !important;
}