﻿@using FirstApp.Auth
@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<ApplicationUser> SignInManager


<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Śmigaj w góry!</title>

    <link href="~/Images/2017124112017-09-063832922Mountains.jpg" rel="icon" />
    <!--css libs-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

    <link href="~/lib/css/style.css" rel="stylesheet" />
</head>

<body>
    <!--Header-->
<header id="header">
    <div class="container">

        <div class="logo float-left">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/Images/2017124112017-09-063832922Mountains.jpg" alt="" class="img-fluid scrollto"> ŚMIGAJ W GÓRY!</a>
        </div>
        <!-- .main-nav -->
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="drop-down">
                        <a href="">Admin</a>
                        <ul>
                            <li><a asp-controller="Admin" asp-action="UserManagement" class="navbar-brand">Zarządzaj użytkownikami</a></li>
                            <li><a asp-controller="Admin" asp-action="RoleManagement" class="navbar-brand">Zarządzaj rolami</a></li>
                            <li><a asp-controller="Event" asp-action="EventManagement" class="navbar-brand">Zarządzaj eventami</a></li>
                            <li><a asp-controller="Stage" asp-action="StagesManagement" class="navbar-brand">Zarządzaj etapami</a></li>
                        </ul>
                    </li>
                }
                <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Strona główna</a></li>
                <li><a asp-controller="Event" asp-action="List" class="navbar-brand">Lista szczytów</a></li>
                <li><a asp-controller="Feedback" asp-action="Index" class="navbar-brand">Podziel się opinią</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-brand">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
                        </form>
                    </li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login" class="navbar-brand">Zaloguj się</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="navbar-brand">Załóż konto</a></li>
                }
            </ul>
        </nav>

    </div>
</header>

    <!--Main section-->
    <main id="main">
        <div class="">
            @RenderBody()
        </div>
    </main>
    <!--Footer-->
    <footer id="footer" class="section-bg position-relative">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="footer-links text-center copyright" style="">
                                    <p style="margin-bottom: 5px; font-weight: bold">Kontakt</p>
                                    <div class="social-links" style="margin-bottom: 5px;">
                                        <a href="#" class=""><i class="fab fa-facebook-square"></i></a>
                                        <a href="#" class=""><i class="fab fa-instagram center"></i></a>
                                        <a href="#" class=""><i class="fab fa-linkedin center"></i></a>
                                    </div>
                                        <strong>Email:</strong> filip.marek.lipinski@gmail.com<br>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                © Copyright <strong>Rapid</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!--js libraries-->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>

    <script src="~/lib/js/main.js"></script>
</body>
</html>
