﻿@model Event

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <h3 class="pull-right">@Model.MountainHeight</h3>
        <h3>
            <a>@Model.EventName</a>
        </h3>
        <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.EventId">@Model.MountainName</a>
        <p>@Model.ShortDescription</p>
    </div>
        
</div>

