﻿@model StagesListViewModel

<!--Intro-->

<div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 text-dark text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft float-left position-relative" data-wow-delay="0.4s" style="min-height: 615px;">
                    <div class="textBackground position-absolute" style="bottom: 0; left: 0;">
                        <h1 class="h1-responsive text-white text-center font-weight-bold disable-margin">@ViewBag.Title</h1>
                        <h1 class="h1-responsive text-white text-center font-weight-bold">@ViewBag.Title2</h1>
                        <hr class="hr-light" style="border-color: white;">
                        <h1 class="h1-responsive text-white text-center font-weight-bold titles-border">@ViewBag.Plan</h1>
                    </div>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>

<section id="about">

    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="~/Images/KGP.png" alt="">
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="about-content">
                    <h2>Korona Gór Polski</h2>
                    <h3>O co w tym wszystkim chodzi? Skąd taki pomysł?</h3>
                    <p class="text-justify">Korona Gór Polski ustanowiona została w 1997 roku, a tworzy ją 28 najwyższych szczytów wszystkich pasm górskich naszego kraju. Aby zostać jej zdobywcą trzeba wejść na nie pokonując siłą własnych mięśni ponad 30 tysięcy metrów n.p.m.</p>
                    <p class="text-justify">Jako miłośnik turystyki wiele razy zapuszczałem się w pobliskie góry, bardziej popularne miejsca odwiedziłem kilkukrotnie i dobrze je poznałem. Z czasem jednak ciekawość i chęć poznawania nowych miejsc skłoniła mnie do poszukiwania wyzwań. Tak udało się znaleźć KGP. I właśnie tu zaczyna się cała przygoda.</p>
                    <p class="text-justify">Zdobywając koronę można poznać rzadziej uczęszczane szlaki oraz pomijane przez większość turystów miejsca. To idealna okazja do spędzenia czasu blisko natury, niejednokrotnie można też natknąć się na niesamowite pomniki przyrody i zpierające dech w piersiach widoki.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="parallax">
    <section id="services" class="">
        <div class="container">

            <header class="section-header">
                <h3>A teraz realizacja!</h3>
                <h3 class="">@ViewBag.DetailedPlan</h3>
            </header>

            <div class="row">
                <!--Change to loop-->
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
                    <div class="box">
                        <a asp-controller="Stage" asp-action="StageSummary" asp-route-id="@Model.Stages[0].StageId">
                            <div class="icon" style="background: #dbe8fc;"><i class="fas fa-mountain" style="color: #699bea;"></i></div>
                            <h4 class="title">
                                @Model.Stages[0].StageName
                            </h4>
                            <p class="description text-center">Planowana liczba szczytów do zdobycia: @Model.NumberOfEventsPerStage[0]</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
                    <div class="box">
                        <a asp-controller="Stage" asp-action="StageSummary" asp-route-id="@Model.Stages[1].StageId">
                            <div class="icon" style="background: #fff0da;"><i class="fas fa-map-marked-alt" style="color: #e98e06;"></i></div>
                            <h4 class="title">
                                @Model.Stages[1].StageName
                            </h4>
                            <p class="description text-center">Planowana liczba szczytów do zdobycia: @Model.NumberOfEventsPerStage[1]</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: bounceInUp;">
                    <div class="box">
                        <a asp-controller="Stage" asp-action="StageSummary" asp-route-id="@Model.Stages[2].StageId">
                            <div class="icon" style="background: #e6fdfc;"><i class="fas fa-route" style="color: #3fcdc7;"></i></div>
                            <h4 class="title">
                                @Model.Stages[2].StageName
                            </h4>
                            <p class="description text-center">Planowana liczba szczytów do zdobycia: @Model.NumberOfEventsPerStage[2]</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<section id="why-us" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container-fluid">

        <header class="section-header">
            <h1>Do tej pory udało się zdobyć <span data-toggle="counter-up">@ViewBag.TotalCompletedEvents </span> z 28 szczytów!</h1>
        </header>
    <!--
    <div class="row">

        <div class="col-lg-6">
            <div class="why-us-img">
                <img src="" alt="" class="img-fluid">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="why-us-content">
                <p>Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum exercitationem est error omnis repudiandae ad dolorum sit.</p>
                <p>
                    Explicabo repellendus quia labore. Non optio quo ea ut ratione et quaerat. Porro facilis deleniti porro consequatur
                    et temporibus. Labore est odio.

                    Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum quis explicabo sed nihil repellat..
                </p>

                <div class="features wow bounceInUp clearfix" style="visibility: visible; animation-name: bounceInUp;">
                    <i class="fa fa-diamond" style="color: #f058dc;"></i>
                    <h4>Corporis dolorem</h4>
                    <p>Commodi quia voluptatum. Est cupiditate voluptas quaerat officiis ex alias dignissimos et ipsum. Soluta at enim modi ut incidunt dolor et.</p>
                </div>

                <div class="features wow bounceInUp clearfix" style="visibility: visible; animation-name: bounceInUp;">
                    <i class="fa fa-object-group" style="color: #ffb774;"></i>
                    <h4>Eum ut aspernatur</h4>
                    <p>Molestias eius rerum iusto voluptas et ab cupiditate aut enim. Assumenda animi occaecati. Quo dolore fuga quasi autem aliquid ipsum odit. Perferendis doloremque iure nulla aut.</p>
                </div>

                <div class="features wow bounceInUp clearfix" style="visibility: visible; animation-name: bounceInUp;">
                    <i class="fa fa-language" style="color: #589af1;"></i>
                    <h4>Voluptates dolores</h4>
                    <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.</p>
                </div>

            </div>

        </div>

    </div>
    -->
    </div>
    

    <div class="container">
        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@ViewBag.TotalDistanceTraveledOnFoot</span>
                <p>Metry przebyte na trasie:</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@ViewBag.TotalMountainsProminence</span>
                <p>Łączne pokonane przewyższenie górskie:</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@ViewBag.TotalNumberOfPeopleInvolved</span>
                <p>Liczba zaangażowanych osób:</p>
            </div>
            
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">@ViewBag.TotalDistanceTraveled</span>
                <p>Całkowita przejechana odległość:</p>
            </div>

        </div>

    </div>
</section>
