﻿@model AddUserViewModel

<div class="container admin-page">
    <h2>Zaloguj się lub <a asp-action="Register" asp-controller="Account" method="post">Załóż konto!</a></h2>

    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">

        <div asp-validation-summary="All" classs="text-danger"></div>

        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Zaloguj się" />
            </div>
        </div>

    </form>
</div>

