﻿@model Feedback

<div class="container admin-page">
    <form asp-action="Index" method="post" class="form-horizontal" role="form">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <textarea asp-for="Message" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContactMe" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input type="checkbox" asp-for="ContactMe" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Wyślij opinie" />
            </div>
        </div>
    </form>
</div>