﻿@model FirstApp.Models.Event

@{
    ViewData["Title"] = "DeleteEvent";
}

<h2>DeleteEvent</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MountainName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MountainName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MountainRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MountainRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfCompletion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCompletion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DistanceToTravel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DistanceToTravel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MountainHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MountainHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedHeightToClimb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedHeightToClimb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.StageName)
        </dd>
    </dl>
    
    <form asp-action="DeleteEvent">
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="EventManagement">Back to List</a>
    </form>
</div>
