﻿@model Event

<section id="call-to-action" class="wow fadeInUp portal-page" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
                <h1 class="text-white text-uppercase text-center font-weight-bold">@Model.MountainRange</h1>
                <h3 class="cta-title text-center"><i class="text-uppercase">@Model.MountainName</i> to najwyższy szczyt tego pasma znajdujący się na terenie Polski.</h3>
                <h3 class="cta-title text-center">Położony jest na wysokości @Model.MountainHeight m n.p.m.</h3>
                <p class="cta-text disable-margin text-justify"> @Model.ShortDescription</p>
            </div>
        </div>
    </div>
</section>
<div class="section-bg">
    <div class="container @(Model.Image != null ? "" : "portal-page")">
        @if (Model.Image != null)
        {
            <img src="~/Images/@Html.Raw(Model.Image)" class="col-12 wow fadeInUp portal-page" style="visibility: visible; animation-name: fadeInUp;" />
        }
        
        <h2 class="col-12">@Model.EventName</h2>
        <p class="col-12 text-justify">@Model.LongDescription</p>
        <section id="faq">
            <div id="faq-list" class="wow fadeInUp col-12" style="visibility: visible; animation-name: fadeInUp;">
                <p class="col-12">
                    <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false">Garść detali dotyczących wyjazdu<i class="ion-android-remove"></i></a>
                </p>
                <div id="faq1" class="col-12 collapse border rounded @(Enum.GetName(typeof(EventStatus), Model.Status) == "Wykonany" ? "border-success" : "border-info")" data-parent="#faq-list" style="">
                    <div class="margin5">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Status: <label class="badge badge-pill @(Enum.GetName(typeof(EventStatus), Model.Status) == "Wykonany" ? "badge-success" : "badge-info")">@(Enum.GetName(typeof(EventStatus), Model.Status) == "Wykonany" ? "Wykonany" : "Przypisany do etapu")</label></h2>
                            </div>
                            @if (Enum.GetName(typeof(EventStatus), Model.Status) == "Wykonany")
                            {
                                <div class="col-lg-6">
                                    <h2>@("Data zdobycia: " + Model.DateOfCompletion.Day + "." + Model.DateOfCompletion.Month + "." + Model.DateOfCompletion.Year + ".")</h2>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6">
                                    <h2>@("Przewidywana data: " + Model.PlannedDate)</h2>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Przybliżona odegłość od Wrocławia: @Model.DistanceToTravel km</h2>
                            </div>
                            @if (@Model.NumberOfPeopleInvolved != 0)
                            {
                                <div class="col-lg-6">
                                    <h2>Liczba zaangażowanych osób: @Model.NumberOfPeopleInvolved</h2>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <h2 class="col-12">@(Enum.GetName(typeof(EventStatus), Model.Status) == "Wykonany" ? "Przebyta trasa" : "Planowana trasa")</h2>
        <div class="col-12 d-block">
            @Html.Raw(@Model.MapHtml)
        </div>
    </div>
</div>
