﻿@model FirstApp.ViewModels.AddEventViewModel

@{
    ViewData["Title"] = "EditEvent";
}
<div class="container admin-page">
<h2>EditEvent</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEvent" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountainName" class="control-label"></label>
                <input asp-for="MountainName" class="form-control" />
                <span asp-validation-for="MountainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountainRange" class="control-label"></label>
                <input asp-for="MountainRange" class="form-control" />
                <span asp-validation-for="MountainRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCompletion" class="control-label"></label>
                <input asp-for="DateOfCompletion" type="date" class="form-control" />
                <span asp-validation-for="DateOfCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlannedDate" class="control-label"></label>
                <input asp-for="PlannedDate" class="form-control" />
                <span asp-validation-for="PlannedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceToTravel" class="control-label"></label>
                <input asp-for="DistanceToTravel" class="form-control" />
                <span asp-validation-for="DistanceToTravel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountainHeight" class="control-label"></label>
                <input asp-for="MountainHeight" class="form-control" />
                <span asp-validation-for="MountainHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedHeightToClimb" class="control-label"></label>
                <input asp-for="EstimatedHeightToClimb" class="form-control" />
                <span asp-validation-for="EstimatedHeightToClimb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeopleInvolved" class="control-label"></label>
                <input asp-for="NumberOfPeopleInvolved" class="form-control" />
                <span asp-validation-for="NumberOfPeopleInvolved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistnceTraveledOnFootInMeters" class="control-label"></label>
                <input asp-for="DistnceTraveledOnFootInMeters" class="form-control" />
                <span asp-validation-for="DistnceTraveledOnFootInMeters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountainsProminenceTravelled" class="control-label"></label>
                <input asp-for="MountainsProminenceTravelled" class="form-control" />
                <span asp-validation-for="MountainsProminenceTravelled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<EventStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapHtml" class="control-label"></label>
                <input asp-for="MapHtml" class="form-control" />
                <span asp-validation-for="MapHtml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="@(new SelectList(Model.StagesList, "StageId", "StageName"))"></select>
                <span asp-validation-for="StageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EventManagement">Back to List</a>
</div>
</div>
