﻿@model IEnumerable<FirstApp.Models.Event>

@{
    ViewData["Title"] = "EventManagement";
}

<div class="container admin-page">
    <h2>Event Management</h2>

    <p>
        <a asp-action="AddEvent" class="btn btn-primary">Create New</a>
    </p>
    <table class="table col-md-9 table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MountainName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MountainRange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCompletion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MountainHeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage.StageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.MountainName)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.MountainRange)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.DateOfCompletion)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.MountainHeight)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Stage.StageName)
                    </td>
                    <td class="col-sm-1">
                        <label>@Enum.GetName(typeof(EventStatus), item.Status)</label>
                    </td>
                    <td class="col-sm-1">
                        <a asp-controller="Event" asp-action="EditEvent" asp-route-id="@item.EventId" class="btn btn-primary">Edit</a>
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.EventId" class="btn btn-info">Details</a>
                        <a asp-action="DeleteEvent" asp-route-id="@item.EventId" class="btn badge-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
