﻿@model EventsListViewModel

<div class="container admin-page">
    @foreach (var ev in Model.Events)
    {
        <!--Html.Partial("EventSummary", eEvent) add at to use partial view-->
        <div class="col-md-9 col-lg-4">
            <div class="thumbnail">
                <div>
                    <h2>
                        Nazwa góry:
                        <a class="pull-right" asp-controller="Event" asp-action="Details" asp-route-id="@ev.EventId">@ev.MountainName</a>
                    </h2>
                </div>
                <h3 class="pull-right">Wysokość (m n.p.m.): @ev.MountainHeight</h3>
                <h3>@ev.MountainRange</h3>
                <p>@ev.ShortDescription</p>
                <p>Status: @Enum.GetName(typeof(EventStatus), ev.Status)</p>
            </div>
            <hr />
        </div>
    }
</div>